/* CSS Styles */

.patient-list-container {
  padding: 20px;
  margin-left: 60px;
}

.patient-list-title {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  background-color: #343a40;
  color: #fff;
}

.table th,
.table td {
  padding: 12px;
}

.table-dark th {
  background-color: #343a40;
  color: #fff;
  border-color: #454d55;
}

.table-dark td {
  background-color: #454d55;
}

.table-dark tbody + tbody {
  border-color: #454d55;
}

.table-dark.table-bordered {
  border-color: #454d55;
}

.table-dark.table-bordered th,
.table-dark.table-bordered td {
  border-color: #454d55;
}

.table-container {
  max-height: 500px;
  overflow-y: auto;
}

.search-bar {
  margin-bottom: 10px;
}

.search-bar input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
}

.empty-message {
  text-align: center;
  color: #fff;
  padding: 12px;
}