.appointment-details {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 60px;
}

.appointment-details h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

.appointment-details p {
  margin-bottom: 8px;
  color: #666;
  text-align: center;
}

.appointment-details strong {
  font-weight: bold;
  color: #333;
  text-align: center;
}

.appointment-details .appointment-info {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.appointment-details .icon {
  width: 40px;
  height: 40px;
  background-color: #f5f5f5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}

.appointment-details .icon i {
  color: #333;
  font-size: 20px;
}

.appointment-details .button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.appointment-details .button {
  padding: 12px 24px;
  background-color: #4c6ef5;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.appointment-details .button:hover {
  background-color: #3a56d9;
}
#calendar {
  margin-left: 60px;
}
.appointment-title {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}