@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700&display=swap');

body {
  background: #ebecf5;
  font-family: 'Mulish', sans-serif;
  margin: 5px;
}

.settings {
  display: inline-flex;
  flex-direction: column;
  padding: 45px 50px;
  background-color: white;
  border-radius: 10px;
}

.settings h1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 40px;
}

.settings h2 {
  font-family: 'Mulish';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  margin-bottom: 20px;
  text-align: left;
  text-transform: uppercase;
}

.settings ul {
  padding-left: 0px;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
  padding-bottom: 0px;
}

.settings ul li {
  border: 1px solid #d7dbf1;
  padding: 20px;
  border-radius: 3px;
  margin-top: 10px;
}

.settings ul li .item {
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: space-between;
}

.settings ul li .item-icon {
  padding: 12px;
  border-radius: 15px;
  margin-right: 20px;
  background-color: #e5eaff;
}

.settings ul li .item-content {
  flex-grow: 1;
}

.settings ul li .item-content h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 8px;
}

.settings ul li .item-content p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 0;
}

.settings .footer {
  padding: 20px;
  background-color: rgba(255, 246, 234, 1);
  border-radius: 3px;
}

.settings .footer p {
  font-family: 'Mulish';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 0px;
}

.settings .footer p a {
  color: rgba(36, 57, 186, 1);
  text-decoration: none;
}
